<%- include("partials/header"); -%>
    <ul class="nav-menu">
        <li class="nav-item"><a href="/#about">Go back</a></li>
    </ul>
    </header>
    <section class="container">
        <div class="photo">
            <img src="./images/two.svg" class="two" draggable="false" data-aos="fade-right" data-aos-duration="1200">
        </div>
        <div class="tab3"> </div>
        <div class="container-about">
            <h5 data-aos="fade-down" data-aos-duration="1200">Hello! I'm Chelsea. <br>
                A developer, designer, <br> plant lover,
                and <br>problem solver.</h5>
            <img src="./images/three.svg" class="three" draggable="false" data-aos="fade-right"
                data-aos-duration="1200">
            <p class="infoa" data-aos="fade-down" data-aos-duration="1200">My full name is Chelsea Kamille Williams. I’m
                a front-end developer and designer who’s deeply interested in creating beautiful designs, writing clean
                codes, and continuously learning about web development.</p>
            <p class="infoa" data-aos="fade-down" data-aos-duration="1200">I was born and raised in the Philippines and
                grew up in San Jose, California. I was first exposed to web design at the very young age of 11 through a
                social networking site called Friendster. It was there that I learned how to customize and design my
                profile using basic HTML and CSS syntax. From then on, I spent most of my teenage years honing my coding
                and design skills through various websites such as MSN groups, Myspace, and Tumblr.
                <br><br>During college, I ultimately gravitated towards something I was also interested in, which
                was to become a doctor and help other people in need. That’s why I decided to pursue a degree in
                Psychology. Just as I was about to start my graduate studies, I had a change of heart and decided to
                pursue my first love instead. I'm confident that from what I've learned with my degree, I'll be able to
                apply and incorporate them with web development. A lot has changed since I first started to learn how to
                code, but I’m incredibly excited to learn and start a career in coding.
            </p>
            <h5 data-aos="fade-down" data-aos-duration="1200">On my free time, you can find me binge watching a
                docuseries on Netflix, reminding myself to stay
                hydrated, and reading mystery novels.</h5>
        </div>
    </section>
    <%- include("partials/footer"); -%>