<%- include("partials/header"); -%>
    <ul class="nav-menu">
        <li class="nav-item" style="margin-top:20px;"><a href="/#sunnies">Go back</a></li>
    </ul>
    </header>
    <section class="container">
        <div class="photo">
            <img src="./images/sunnies.png" class="samples" draggable="false" alt="screenshot of project 1"
                data-aos="fade-right" data-aos-duration="1200">
        </div>
        <div class="tab2"> </div>
        <div class="container-info">
            <h5>Lexi: UX Case Study</h5>
            <p class="brief-info">Lexi is an app that lets you easily find a specific ingredient in a
                product with one scan, making it easier for you to make decisions while grocery shopping.
            </p>
        </div>
        <div class="extrad">
            <p class="role"><span
                    style="font-weight:700;text-transform:uppercase;text-decoration:underline;letter-spacing:1px;">
                    Roles</span><br><br>Designer<br>Researcher<br>Prototyping<br>User testing</p>
            <p class="role"><span
                    style="font-weight:700;text-transform:uppercase;text-decoration:underline;letter-spacing:1px;">
                    Tools</span><br><br>Adobe XD<br>Adobe Photoshop<br>Figma<br>Marvel</p>
            <p class="role"><span
                    style="font-weight:700;text-transform:uppercase;text-decoration:underline;letter-spacing:1px;">
                    Timeline</span><br><br>May 2022 <br>(1 week)</p>
            <a href="#prototype">
                <button type="button" class="site">view prototype</button></a>
        </div>
        <section class="cases-ps">
            <div class="case-info1">
                <h5>Reading ingredient lists can be time consuming and confusing.</h5>
                <p class="c-info"><span style="text-transform:uppercase;font-weight:700;">Problem</span><br>Trying to be
                    more health conscious about what you consume isn’t always easy, more so when you’re trying avoid
                    certain ingredients in your diet. Not only is it time consuming, but the size of the text for
                    ingredient lists are often very small, making it hard to people for some people.</p>
            </div>
            <div class="case-info2">
                <h5>Use an app to easily pinpoint a specific ingredient you don't want.</h5>
                <p class="c-info"><span style="text-transform:uppercase;font-weight:700;">Solution</span><br>Create an
                    app that allows quick and easy search of products in one platform. An app that saves time by easily
                    pointing out a specified ingredient the user is avoiding.
                </p>
            </div>
        </section>
        <section class="cases-d">
            <div class="tab2"> </div>
            <div class="container-d">
                <p class="infop"
                    style="padding-bottom:12px;padding-top:50px;text-transform: uppercase;font-weight:300;letter-spacing:1.5px;">
                    User Interviews</p>
                <p class="infop">To design a useful product, I first needed to understand the habits people have when it
                    comes to grocery shopping and their health goals. I interviewed 15 potential users over the phone to
                    understand the challenges they face in trying to find the right products for them while they are
                    grocery shopping.
                </p>
                <p class="infop"><b>I asked questions about:</b> <br>
                    <span style="margin-left:38px">— Their health goals</span><br>
                    <span style="margin-left:38px">— Their grocery shopping routines</span><br>
                    <span style="margin-left:38px">— Whether they follow any diet</span><br>
                    <span style="margin-left:38px">— The challenges they face in following diets</span><br>
                    <span style="margin-left:38px">— Whether they read the back of the products they buy</span><br>
                    <span style="margin-left:38px">— Any apps they use related to grocery shopping</span>
                </p>
                <p class="infop"
                    style="padding-bottom:12px;text-transform:uppercase;font-weight:300;letter-spacing:1.5px;">
                    Main insights</p>
                <img src="./images/findings-lexi.png" class="case-photo" draggable="false" alt="interview findings"
                    data-aos="fade-up" data-aos-duration="1300">
                <div class="divider"> </div>
                <p class="infop"
                    style="padding-bottom:12px;padding-top:50px;text-transform:uppercase;font-weight:300;letter-spacing:1.5px;">
                    User persona</p>
                <img src="./images/user-lexi.png" class="case-photo" draggable="false" alt="user persona image"
                    data-aos="fade-up" data-aos-duration="1300">
                <h5 style="font-size:1.8rem;width:60%;">"I don't have the time to look at every ingredient in a product,
                    that's too much work!"
                </h5>
                <p class="infop"
                    style="padding-bottom:12px;text-transform:uppercase;font-weight:300;letter-spacing:1.5px;">
                    Empathy Map</p>
                <img src="./images/map-lexi.png" class="case-photo" draggable="false" alt="empathy map image"
                    data-aos="fade-up" data-aos-duration="1300">
                <div class="divider"> </div>
                <p class="infop"
                    style="padding-bottom:12px;padding-top:50px;text-transform: uppercase;font-weight:300;letter-spacing:1.5px;">
                    Low Fidelity Wireframes</p>
                <img src="./images/lf1-lexi.png" style="padding-bottom:2px;" class="case-photo" draggable="false"
                    alt="low fidelity wireframe(1)" data-aos="fade-left" data-aos-duration="1300">
                <img src="./images/lf2-lexi.png" class="case-photo" draggable="false" alt="low fidelity wireframe(2)"
                    data-aos="fade-right" data-aos-duration="1300">
                <p class="infop"
                    style="padding-bottom:12px;text-transform: uppercase;font-weight:300;letter-spacing:1.5px;">
                    High Fidelity Wireframes</p>
                <img src="./images/hf1-lexi.png" style="padding-bottom:2px;" class="case-photo" draggable="false"
                    alt="high fidelity wireframe(1)" data-aos="fade-left" data-aos-duration="1300">
                <img src="./images/hf2-lexi.png" style="padding-bottom:2px;" class="case-photo" draggable="false"
                    alt="high fidelity wireframe(2)" data-aos="fade-right" data-aos-duration="1300">
                <img src="./images/hf3-lexi.png" style="padding-bottom:2px;" class="case-photo" draggable="false"
                    alt="high fidelity wireframe(3)" data-aos="fade-left" data-aos-duration="1300">
                <div class="divider"> </div>
                <p class="infop"
                    style="padding-bottom:12px;padding-top:50px;text-transform:uppercase;font-weight:300;letter-spacing:1.5px;">
                    Usability testing</p>
                <p class="infop">I conducted a usability testing on five individuals. I gave them a task to navigate the
                    app, become familiar with it, and create a list to add for specific ingredients they don’t want to
                    consume. Overall, all of the individuals were able to conduct the test I gave them and found it
                    quite easy to complete the task I gave them.
                </p>
                <div class="divider"> </div>
                <h6 style="padding-bottom:20px;padding-top:30px;" id="prototype">Final Design</h6>
                <iframe class="prototype"
                    src="https://marvelapp.com/prototype/aie2g9h?emb=1&iosapp=false&frameless=false"
                    allowTransparency="true" frameborder="0"
                    style="-webkit-clip-path: inset(2px 2px); clip-path: inset(2px 2px);"></iframe>
                <div class="divider" style="padding-top:100px;"> </div>
                <h6 style="padding-bottom:20px;padding-top:30px;">Style Guide</h6>
                <img src="./images/style-guide.png" class="case-photo" draggable="false" alt="style guide image"
                    data-aos="fade-up" data-aos-duration="1300">
                <div class="divider"> </div>
                <h6 style="padding-bottom:20px;padding-top:30px;">Conclusions + Learning outcomes</h6>
                <p class="infop">This was my very first UX project and I’m pleased with how things have turned out. More
                    than the results, I was thrilled to apply what I’ve learned about UX design and actually put them to
                    practice. Throughout the process, I’ve learned a lot of useful things that I can still apply to my
                    future case studies. From learning to really understand and listen to other people’s needs and
                    figuring out creative ways to solve even the smallest of issues, I enjoyed the entire process and
                    felt a sense of accomplishment when I saw how the test participants reacted to what I made. What I
                    learned and experienced with this case study helped strengthen the foundation of my knowledge in UX
                    design and made me more excited of what’s to come next.</p>
                <h5>Thank you for reading! 💕</h5>
                <p class="infop" style="text-align:center;text-transform:uppercase;">Got any questions? <br><a
                        href="mailto:hello@chelseakamille.com">Send a message!</a></p>
            </div>
        </section>
        <%- include("partials/footer"); -%>