<%- include("partials/header"); -%>
    <ul class="nav-menu">
        <li class="nav-item"><a href="/#project3">Go back</a></li>
    </ul>
    </header>
    <section class="container">
        <div class="photo">
            <img src="./images/project3.png" class="samples" draggable="false" alt="screenshot of project 3"
                data-aos="fade-right" data-aos-duration="1200">
        </div>
        <div class="tab2"> </div>
        <div class="container-info">
            <h5>Website Redesign.</h5>
        </div>
        <div class="extrad">
            <p class="role"><span
                    style="font-weight:700;text-transform:uppercase;text-decoration:underline;letter-spacing:1px;">
                    Role(s)</span><br><br>Front-end Developer<br>UI Designer</p>
            <p class="role"><span
                    style="font-weight:700;text-transform:uppercase;text-decoration:underline;letter-spacing:1px;">
                    Tools</span><br><br>Adobe XD</p>
            <a href="https://curious-sorbet-dfe82e.netlify.app/" target="_blank">
                <button type="button" class="site">view live site</button>
            </a>
        </div>
        <div class="container-info">
            <p class="infop">An unsolicited (and very brief) redesign of one of my favorite skincare brands.
            </p>
            <h6>Low Fidelity Wireframe</h6>
            <p class="infop">For the layout, I decided to go for something where the user can easily see all the
                important information right from the start. With large headings for the name of the product and its
                price, it lessens the time for the user to find these information.</p>
            <img src="./images/lf_allies.png" class="wireframes" alt="lo-fi design" draggable="false">
            <h6>Font Family and Color Palette</h6>
            <p class="infop">To make the product stand out, I decided to pick a light gray background and mostly use
                white and black for the rest of the content. </p>
            <img src="./images/p3design.png" class="p1design" alt="design details" draggable="false">
            <h6>High Fidelity Wireframe</h6>
            <p class="infop">I stuck with the ideas I had in mind during the early stages and create a simple yet
                elegant feel for the layout. </p>
            <img src="./images/hf_allies.png" class="wireframes" alt="hi-fi design" draggable="false">
            <h6>Development</h6>
            <p class="infop">It was fun doing this challenge even though it’s quite difficult to redesign something
                that’s already well established. Nevertheless, it was an enjoyable practice.</p>
            <p class="infop">For a closer look at the code, please check out my <a
                    href="https://github.com/ckamille0607/allies" target="_blank"><b>GitHub</b></a> page dedicated
                to this
                project.
            </p>
        </div>
    </section>
    <%- include("partials/footer"); -%>