<%- include("partials/header"); -%>
    <ul class="nav-menu">
        <li class="nav-item"><a href="/#about">Go back</a></li>
    </ul>
    </header>
    <section class="container">
        <div class="photo">
            <img src="./images/project1.png" class="samples" draggable="false" alt="screenshot of project 1"
                data-aos="fade-right" data-aos-duration="1200">
        </div>
        <div class="tab2"> </div>
        <div class="container-info">
            <h5>Sunnies: UX Case Study</h5>
            <p class="brief-info">Sunnies is an app that helps keep track of your sunscreen habits, reminding you to
                apply in the morning, and re-apply throughout the day to maintain healthy and beautiful skin.
            </p>
        </div>
        <div class="extrad">
            <p class="role"><span
                    style="font-weight:700;text-transform:uppercase;text-decoration:underline;letter-spacing:1px;">
                    Roles</span><br><br>Designer<br>Researcher<br>Prototyping</p>
            <p class="role"><span
                    style="font-weight:700;text-transform:uppercase;text-decoration:underline;letter-spacing:1px;">
                    Tools</span><br><br>Adobe XD<br>Adobe Photoshop</p>
            <p class="role"><span
                    style="font-weight:700;text-transform:uppercase;text-decoration:underline;letter-spacing:1px;">
                    Timeline</span><br><br>March 2022 <br>(1 week)</p>
        </div>
        <section class="cases-ps">
            <div class="case-info1">
                <h5>People often disregard the health of their skin.</h5>
                <p class="c-info"><span style="text-transform:uppercase;font-weight:700;">Problem</span><br>Almost
                    everyone has a hectic lifestyle, maintaining a good work-life balance isn’t easy. Even finding the
                    time to do what we enjoy can be tough, more so for something as little as applying and re-applying
                    sunscreen — even though it’s crucially important for our health.</p>
            </div>
            <div class="case-info2">
                <h5>Accessibility and incentives are the key.</h5>
                <p class="c-info"><span style="text-transform:uppercase;font-weight:700;">Solution</span><br>Provide a
                    platform that lets its user find highly rated sunscreen products, see its reviews
                    instantly, tips on how to use them correctly, and reminders that notify them to re-apply. To keep
                    users engaged in using the app, a points system should be implemented where they can earn points for
                    doing their daily application and exchange these points to donate to non-profit organizations.
                </p>
            </div>
        </section>
        <section class="cases-d">
            <div class="tab2"> </div>
            <div class="container-d">
                <h6>Design Process Overview</h6>
                <p class="c-info" style="margin-top:-12px">As this is a <b>solo</b> project, it is my sole
                    responsibility to conduct all these steps needed for this UX case study.</p>
                <img src="./images/process.png" class="case-photo" draggable="false" alt="design process image">
                <div class="divider"> </div>
                <h6 style="padding-bottom:20px;padding-top:30px;">Step one: Empathize</h6>
                <p class="infop"
                    style="padding-bottom:12px;text-transform: uppercase;font-weight:300;letter-spacing:1.5px;">
                    White paper research</p>
                <p class="infop" style="padding-bottom:0;">Before understanding the users, I first started my
                    research from a broader perspective. According to a survey conducted by <a
                        href="https://thedermreview.com/sunscreen-survey/">The Derm Review</a>, out of 1,000
                    participants, only <b>19%</b> of Americans use sunscreen daily and <b>56%</b> admitted to rarely or
                    never using sunscreen.</p>
                <h5 style="font-size:1.8rem;width:60%;">"Over half of Americans are forfeiting a 40% increase in
                    protection from skin cancer by not regularly using sunscreen."
                </h5>
                <p class="infop"
                    style="padding-bottom:12px;text-transform: uppercase;font-weight:300;letter-spacing:1.5px;">
                    Competitive Analysis + The Gap</p>
                <p class="infop">I analyzed three highly rated apps that involved sunscreen application and
                    re-application on the App Store today and I found that none of them had an aspect of motivation or
                    incentives, thus resulting in a very low engagement with its users. Most of the complaints are
                    related to outdated user interface, missing features, and the app being too costly. This then became
                    my opportunity for the solution I have in mind.</p>
                <h5 style="font-size:1.8rem;width:60%;">The competing apps doesn't have an incentive aspect, resulting
                    in low user engagement. This gives an opportunity to create an app that rewards its users for taking
                    care of themselves.
                </h5>
                <img src="./images/apps.png" class="case-photo2" draggable="false" alt="competiting apps image">
                <p class="infop"
                    style="padding-bottom:12px;text-transform: uppercase;font-weight:300;letter-spacing:1.5px;">
                    User Interview</p>
                <p class="infop">As part of the journey in understanding the problems people face when it comes to this
                    important skincare step, I conducted a brief interview with ten individuals. My aim was to
                    understand what they thought about sunscreen, if they use it or not, and whether they think it’s
                    important or essential. It's also important to learn if they use an app to keep track of their
                    sunscreen usage.</p>
                <p class="infop"><b>Research Questions:</b> <br>
                    <span style="margin-left:38px">— Do you use sunscreen?</span><br>
                    <span style="margin-left:38px">— How often do you use sunscreen?</span><br>
                    <span style="margin-left:38px">— Do you remember to re-apply throughout the day?</span><br>
                    <span style="margin-left:38px">— Is sunscreen important to you?</span><br>
                    <span style="margin-left:38px">— What's stopping you from using sunscreen?</span><br>
                    <span style="margin-left:38px">— Do you have any app related to sunscreen?</span>
                </p>
                <p class="infop"
                    style="padding-bottom:12px;text-transform: uppercase;font-weight:300;letter-spacing:1.5px;">
                    Main findings</p>
                <img src="./images/findings.png" class="case-photo" draggable="false" alt="interview findings">
                <div class="divider"> </div>
                <h6 style="padding-bottom:20px;padding-top:30px;">Step two: Define</h6>
                <p class="infop"
                    style="padding-bottom:12px;text-transform: uppercase;font-weight:300;letter-spacing:1.5px;">
                    User persona</p>
                <img src="./images/persona.png" class="case-photo" draggable="false" alt="user persona image">
                <h5 style="font-size:1.8rem;width:60%;">"I wish there’s a way to make such a mundane task fun and
                    engaging."
                </h5>
                <p class="infop"
                    style="padding-bottom:12px;text-transform: uppercase;font-weight:300;letter-spacing:1.5px;">
                    Empathy Map</p>
                <img src="./images/empathy.png" class="case-photo" draggable="false" alt="empathy map image">
                <div class="divider"> </div>
                <h6 style="padding-bottom:20px;padding-top:30px;">Step three: Ideate</h6>
                <p class="infop"
                    style="padding-bottom:12px;text-transform: uppercase;font-weight:300;letter-spacing:1.5px;">
                    Card Sorting</p>
                <p class="infop">To help have an idea of how the app would be structured, I practiced card sorting
                    to present a clear representation as to how the app would be laid out.</p>
                <img src="./images/card.png" class="case-photo" draggable="false" alt="card sorting image">
                <p class="infop"
                    style="padding-bottom:12px;text-transform: uppercase;font-weight:300;letter-spacing:1.5px;">
                    Information Architecture</p>
                <p class="infop">I created a chart as a visual representation of how a user will navigate through
                    the app and in return, have a better understanding where I can improve the user experience. With
                    card sorting, it helped me create the architecture of the app easier and made improvements, such as
                    replacing calendar with date to be more specific, removed timeline and replaced it with a checklist
                    instead to make it easier for the user to keep track of their usage, and removed habit tracker
                    as there's already a tab for progress. Also added a current product tab to input what sunscreen the
                    user is using and have an option for them to add what date they opened the product to know when they
                    must throw it away.</p>
                <img src="./images/information.png" class="case-photo" draggable="false"
                    alt="information architecture image">
                <div class="divider"> </div>
                <h6 style="padding-bottom:20px;padding-top:30px;">Step four: Prototype</h6>
                <p class="infop"
                    style="padding-bottom:12px;text-transform: uppercase;font-weight:300;letter-spacing:1.5px;">
                    Low Fidelity Wireframes</p>
                <img src="./images/lf-1.png" style="padding-bottom:2px;" class="case-photo" draggable="false"
                    alt="low fidelity wireframe(1)">
                <img src="./images/lf-2.png" style="padding-bottom:2px;" class="case-photo" draggable="false"
                    alt="low fidelity wireframe(2)">
                <img src="./images/lf-3.png" class="case-photo" draggable="false" alt="low fidelity wireframe(3)">
                <p class="infop"
                    style="padding-bottom:12px;text-transform: uppercase;font-weight:300;letter-spacing:1.5px;">
                    High Fidelity Wireframes</p>
            </div>
        </section>
        <%- include("partials/footer"); -%>