body {
    background-color: #f3e1e1;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Playfair Display", serif;
}

::selection {
    background: #fff;
    color: #000;
}

::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #fff;
}

::-webkit-scrollbar-thumb {
    background: #7d5a5a;
    border-radius: 8px;
}

a {
    color: #000;
}

.links {
    text-decoration: none;
    padding: 2px 3px;
    border-bottom: 1px solid #7d5a5a;
    box-shadow: inset 0 -4px 0 #7d5a5a;
    transition: all 0.25s ease-in-out;
}

.links:hover {
    background-color: #7d5a5a;
    color: #fff;
}

/* HEADER */

header {
    position: fixed;
    padding: 42px 22px;
    background-color: #f3e1e1;
    z-index: 200;
    width: 100%;
}

.logo {
    position: fixed;
    width: 130px;
    top: 9px;
    z-index: 100;
    user-select: none;
}

.nav-menu {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 26px;
    right: 10px;
    height: 2px;
    padding-right: 12px;
}

.nav-item {
    list-style: none;
    font-weight: 400;
    font-size: 0.9rem;
    text-transform: uppercase;
    padding: 10px;
}

.nav-item a {
    color: #000;
    text-decoration: none;
    text-align: center;
    letter-spacing: 2px;
    border-bottom: 1px solid #7d5a5a;
    box-shadow: inset 0 -4px 0 #7d5a5a;
    transition: all 0.25s ease-in-out;
    padding: 3px;
}

.nav-item a:hover {
    background-color: #7d5a5a;
    color: #fff;
}

/* FIRST SECTION */

.intro {
    padding: 132px 50px 82px 50px;
}

.greeting {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4px 0;
    margin-top: 5px;
}

.one {
    width: 32vw;
    user-select: none;
}

.exclamation {
    width: 2.5vw;
    user-select: none;
    -webkit-animation: enter 1.8s 0.4s both;
    animation: enter 1.8s 0.4s both;
}

h1 {
    font-weight: 600;
    font-size: 5vw;
    letter-spacing: 2px;
    line-height: 1;
    text-align: center;
    padding-bottom: 42px;
    text-transform: lowercase;
}

/* SECOND SECTION */

.second {
    padding: 150px 0 30px 0;
}

.about {
    height: 62vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 35px 35px 50px 35px;
    margin-top: -28px;
    background-color: #f1d1d1;
}

.tab {
    width: 300px;
    height: 60px;
    border-radius: 40px;
    background-color: #f1d1d1;
    margin: auto;
    text-align: center;
}

h2 {
    font-weight: 400;
    font-size: 3vw;
    letter-spacing: 2px;
    line-height: 1;
    text-align: center;
    padding-bottom: 18px;
}

.extra {
    font-weight: 200;
    font-size: 1rem;
    text-align: center;
    text-transform: uppercase;
    color: #000;
    letter-spacing: 1px;
}

.extra a {
    color: #000;
}

/* THIRD SECTION */

.third {
    padding: 100px 0 20px 0;
    position: relative;
}

.fourth,
.fifth {
    margin-top: -20px;
    position: relative;
}

h3 {
    font-weight: 600;
    font-size: 6vw;
    letter-spacing: 2.5px;
    line-height: 0.9;
    text-align: center;
    padding-bottom: 12px;
}

.photo {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4px 0;
    margin-top: 5px;
}

.samples {
    width: 50vw;
    border-radius: 2%;
    border: 1px solid #000;
    box-shadow: 8px 8px 1px #fff;
    -webkit-box-shadow: 8px 8px 1px #fff;
    -moz-box-shadow: 8px 8px 1px #fff;
    z-index: 2;
    user-select: none;
}

.desc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    padding: 10px;
}

h4 {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 1.1rem;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    margin-top: -25px;
    margin-bottom: 0;
    z-index: 2;
}

h4 a {
    color: #fff;
}

.description {
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-size: 0.985rem;
    color: #fff;
    text-align: center;
    width: 350px;
    z-index: 2;
}

.pbg {
    background-color: #7d5a5a;
    padding: 60px 0 20px 0;
}

.wave {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
    z-index: -99;
}

.wave svg {
    position: relative;
    display: block;
    width: calc(300% + 1.3px);
    height: 550px;
}

.wave .shape-fill {
    fill: #7d5a5a;
}

/* FOOTER */

footer {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 120px 0 0 0;
    background-color: #7d5a5a;
}

.footer-img {
    width: 20vw;
    padding: 40px 0;
    user-select: none;
    z-index: 2;
}

.contact {
    display: flex;
    flex-direction: row;
    padding: 72px 0;
    background-color: #7d5a5a;
}

.socials {
    font-family: "Lato", sans-serif;
    font-size: 0.8rem;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 1.5px;
}

.credit {
    font-family: "Lato", sans-serif;
    font-size: 0.7rem;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
    bottom: 0;
}

.socials a {
    color: #fff;
}

/* ABOUT & WORKS PAGE */

.container {
    padding: 150px 0 0 0;
}

.tab2 {
    width: 300px;
    height: 60px;
    border-radius: 40px;
    background-color: #faf2f2;
    margin: 120px auto -28px auto;
    text-align: center;
}

.extrad {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    height: 35vh;
    padding: 0 50px 0 50px;
    margin-top: -40px;
    background-color: #faf2f2;
}

.role,
.tools {
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-size: 1rem;
    letter-spacing: 1px;
}

.site {
    position: relative;
    padding: 8px 16px 8px;
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-size: 0.8rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    border: 1px solid #000;
    border-radius: 5px;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0);
}

.container-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin-top: -20px;
    background-color: #faf2f2;
}

.p1design {
    width: 26vw;
    border: 1px solid #000;
    border-radius: 18px;
    user-select: none;
}

.wireframes {
    width: 45vw;
    user-select: none;
}

h5 {
    /* width: 68%; */
    font-weight: 500;
    font-style: italic;
    font-size: 3vw;
    text-align: center;
}

h6 {
    font-family: "Lato", sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 1.1rem;
    letter-spacing: 1.1px;
}

.infop {
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-size: 0.985rem;
    line-height: 1.5;
    text-align: left;
    padding: 0 50px 25px 50px;
    margin-top: -5px;
    margin-bottom: 12px;
    width: 60%;
}

.two {
    width: 32vw;
    user-select: none;
    margin-top: 60px;
}

.tab3 {
    width: 300px;
    height: 60px;
    border-radius: 40px;
    background-color: #f1d1d1;
    margin: 100px auto -28px auto;
    text-align: center;
}

.container-about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin-top: -20px;
    background-color: #f1d1d1;
}

.infoa {
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-size: 0.985rem;
    line-height: 1.5;
    text-align: justify;
    padding: 0 50px 10px 50px;
    margin-top: -5px;
    margin-bottom: 12px;
    width: 55%;
}

.three {
    width: 28vw;
    user-select: none;
    margin-bottom: 90px;
}

/* CASE STUDIES */

.brief-info {
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-size: 0.985rem;
    line-height: 1.5;
    text-align: center;
    padding: 0 50px;
    margin-top: -25px;
    width: 60%;
}

.c-info {
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-size: 0.985rem;
    line-height: 1.5;
    text-align: left;
    padding: 0 50px;
    width: 52%;
}

.cases-ps {
    padding: 40px 80px 0 80px;
    background-color: #fff;
    border: 1px solid #000;
    border-radius: 120px;
    width: 60vw;
    margin: 120px auto -20px auto;
    box-shadow: 8px 10px 1px #000;
    -webkit-box-shadow: 8px 10px 1px #000;
    -moz-box-shadow: 8px 10px 1px #000;
}

.case-info1 {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding-bottom: 50px;
}

.case-info2 {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    align-items: center;
    padding-bottom: 50px;
}

.cases-d {
    padding: 40px 0 0 0;
}

.container-d {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 28px;
    background-color: #faf2f2;
}

.case-photo {
    width: 62vw;
    user-select: none;
    padding-bottom: 50px;
}

.case-photo2 {
    width: 40vw;
    user-select: none;
    padding-bottom: 50px;
}

.c-title {
    font-family: "Lato", sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 1rem;
    letter-spacing: 0.5px;
    padding: 50px 0;
}

.divider {
    width: 65%;
    padding-top: 20px;
    border-bottom: 1px solid #000;
}

.ouch-credit {
    font-family: 'Lato';
    font-size: 0.7rem;
    font-weight: 300;
    text-transform: uppercase;
    text-align: center;
    padding-bottom: 5px;
}

.prototype {
    width: 400px;
    height: 700px;
}

/* ANIMATION */

@-webkit-keyframes enter {
    0% {
        -webkit-transform: translateY(-500px);
        transform: translateY(-500px);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
        opacity: 0;
    }

    38% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
        opacity: 1;
    }

    55% {
        -webkit-transform: translateY(-65px);
        transform: translateY(-65px);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }

    72% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }

    81% {
        -webkit-transform: translateY(-28px);
        transform: translateY(-28px);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }

    90% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }

    95% {
        -webkit-transform: translateY(-8px);
        transform: translateY(-8px);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }

    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }
}

@keyframes enter {
    0% {
        -webkit-transform: translateY(-500px);
        transform: translateY(-500px);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
        opacity: 0;
    }

    38% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
        opacity: 1;
    }

    55% {
        -webkit-transform: translateY(-65px);
        transform: translateY(-65px);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }

    72% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }

    81% {
        -webkit-transform: translateY(-28px);
        transform: translateY(-28px);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }

    90% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }

    95% {
        -webkit-transform: translateY(-8px);
        transform: translateY(-8px);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }

    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }
}

/* MEDIA QUERIES */

@media only screen and (max-width: 1200px) {
    .nav-item {
        font-size: 0.9rem;
    }

    .logo {
        width: 110px;
        top: 12px;
    }

    .socials {
        font-size: 0.8rem;
    }

    .credit {
        font-size: 0.7rem;
    }

    .infop,
    .infoa {
        width: 62%;
    }

    h5 {
        font-size: 2rem;
    }

    .wireframes,
    .case-photo {
        width: 69vw;
    }

    .case-photo2 {
        width: 36vw;
    }

    .case-info1,
    .case-info2 {
        flex-direction: column;
    }

    .ouch-credit {
        font-size: 0.7rem;
        width: 70%;
    }
}

@media only screen and (max-width: 991px) {

    .infop,
    .infoa {
        width: 70%;
    }
}

@media only screen and (max-width: 550px) {
    .nav-item {
        font-size: 0.8rem;
    }

    .logo {
        width: 90px;
        top: 20px;
    }

    .intro {
        padding-top: 220px;
    }

    h1 {
        font-size: 1.2rem;
    }

    .exclamation {
        width: 10px;
        padding-left: 2px;
    }

    .one,
    .two,
    .three {
        width: 250px;
    }

    h2 {
        font-size: 1rem;
    }

    h3 {
        font-size: 2rem;
    }

    h4 {
        font-size: 1rem;
    }

    .samples {
        width: 350px;
    }

    .description {
        font-size: 0.9rem;
    }

    .wave svg {
        height: 430px;
    }

    .footer-img {
        width: 190px;
    }

    .contact {
        padding: 60px 0 100px 0;
    }

    .extra {
        font-size: 0.6rem;
    }

    .socials {
        font-size: 0.8rem;
    }

    .credit {
        font-size: 0.6rem;
    }

    .infop,
    .infoa,
    .briefinfo {
        font-size: 0.925rem;
        padding: 10px 10px 5px 10px;
        width: 75%;
    }

    .role,
    .tools {
        font-size: 0.9rem;
    }

    h5 {
        font-size: 1.8rem;
    }

    h6 {
        font-size: 1rem;
    }

    .tab,
    .tab2,
    .tab3 {
        width: 180px;
    }

    .wireframes,
    .case-photo {
        width: 82vw;
    }

    .case-photo2 {
        width: 60vw;
    }

    .p1design {
        width: 300px;
    }

    .case-info1,
    .case-info2 {
        flex-direction: column;
    }

    .c-info {
        width: 90%;
    }

    .cases-ps {
        width: 45vw;
    }

    .divider {
        width: 80%;
    }

    .ouch-credit {
        font-size: 0.5rem;
        width: 70%;
    }

    .prototype {
        width: 250px;
        height: 500px;
    }
}